/** {
  box-sizing: border-box;
}*/
body {
	background: black;
}
canvas {
	background: black;
}
text {
	color: white;
}
p {
	color: white;
}

.sidebar-closed {
	display: none;
}

.sidebar {
	width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
	height: 100%;
	background: #d3d3d3;/*#45425C;*/
}

.link {
	width: 100%;
	height: 25px;
	font-size: 12px;
	border: none;
	border-right: solid 4px #fffdd0;
	border-bottom: solid 1px #fffdd0;
	background: black;
	color: #fffdd0;
}

.link:hover {
	border: none;
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
}

.main-closed {
	margin-left: 0px;
}


.app {
	display: inline;
	background: black;
	top: 0;
	left: 0;
	margin: none;
	width: 100%;
	position: fixed;
}

.navbar {
		bottom: 0;
		left: 0;
		position: fixed;
		width: 100%;
}

.keyboard {
	width: 250px;
	height: 25px;
	font-size: 100%;
	text-align: center;
	background-color: #181717;
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	margin-left: 16px;
}

.topnav {
	width: 100%;
	background: #181717;
	height: 40px;
	top: 0;
	left: 0;
	margin: none;
}

.namebar {
	display: block;
}

.clearbutton {
	background-color: #ca2c43;
    border: none;
	border-radius: 12px;
	color: white;
    text-align: center;
		 text-decoration: none;
		font-size: 23px;
		height: 50px;
		width: 50px;
		float: right;
}

.info {
	display: block;
	width: 100%;
}

.watch {
	width: 400px;
	display: block;
	margin: auto;
}

.roadmap {
	width: 500px;
	height: 50px;
	margin:auto;
	display: block;
}

.selected {
	background-color: black;
	color: white;
	border: none;
	width: 200px;
	height: 25px;
	font-size: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	margin-top: 30px;
	display: block;
	border-radius: 6px;
}

.selected:hover {
	background-color: #ca2c43;
}


.play {
	background-color: black;
	color: white;
	width: 50px;
	height: 50px;
	font-size: 100%;
	text-align: center;
	margin: auto;
	border: none;
	display: block;
	cursor: pointer;
}

.play:hover {
	color: gray;
}

.menu, .topnavsave {
	width: 60px;
	height: 40px;
	background: #ca2c43;
	border: none;
	color: white;
	font-size: 100%;
	padding: 8px;
}

.topnavsave {
	float: right;
}

.menu:hover, .topnavsave:hover {
	background-color: #181717;
}

.picker {
	height: 40px;
	width: 300px;
	background: white;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 5px;
}

.pick, .picked {
	height: 40px;
	width: 50px;
	font-size: 13px;
	display: inline;
	color: #fffdd0;
	font-weight: 100;
}

.pick {
	border: none;
	background: #181717;
}

.pick:hover {
	border: 3px solid black;
}

.picked {
	border: 4px solid black;

	background: #ca2c43;
}

.states {
	display: block;
	height: 50px;
	width: 600px;
	margin: auto;
}

.nowState {
	font-size: 36px;
	width: 200px;
	color: white;
}

.state {
	font-size: 20px;
	border: 10px solid black;
	width: 180px;

	color: lightgray;
}

.nowState, .state {
	font-weight: bold;
	font-family: 'VAG Rounded';/*Verdana*/

	height: 50px;
	text-align: center;
	margin: auto;
	display: inline-block;
}
