/** {
  box-sizing: border-box;
}*/
body {
	background: black;
}
canvas {
	background: black;

}
text {
	color: white;
}
p {
	color: white;
}

.navbar {
		bottom: 0;
		left: 0;
		position: fixed;
		width: 100%;
		background-color: white;
}

.navbar input[type='text'] {
/*	margin-top: 20px;
	margin-bottom: 20px;*/
	font-size: 40px;
  outline: none;
  width: 200px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
	left: 20%;
	position: absolute;
}


.navbar input[type='button'] {
	float: right;
	font-size: 100%;
  outline: none;
  width: 200px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #ccc;
	right: 30%;
	position: relative;
}

.mapDrill {
	padding: 10px;
	text-align: center;
	font-size: 36px;
	color: white;
}
.watch {
	padding: 20px;
	margin:auto;
	width: 500px;
}
